<!-- registration_form.html -->

{% block title %}{% endblock %}

{% block body %}
<style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background: linear-gradient(to bottom, #400040, #000000); /* Dark purple to black gradient */
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
        }

        h1 {
            text-align: center;
            color: #fff;
            margin-bottom: 20px;
            margin-right: 20px;
        }

        form {
            width: 300px;
            background: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .back-arrow {
            position: absolute;
            top: 10px;
            left: 10px;
            font-size: 24px;
            color: #3498db;
            cursor: pointer;
            text-decoration: none;
        }

        label {
            display: block;
            margin-bottom: 8px;
            color: #333;
            font-weight: bold;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"],
        input[type="date"],
        input[type="tel"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-sizing: border-box;
        }

        button[type="submit"] {
            width: 100%;
            padding: 12px;
            background-color: #3498db;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        button[type="submit"]:hover {
            background-color: #2980b9;
        }
    </style>
    <h1>Registration Form</h1>

    <form method="post" action="{% url 'register_form' %}">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">Register Now</button>
    </form>
{% endblock %}